//COLORS
$color-white: #FFFFFF;
$color-white-1: #FCFCFC;
$color-bg: #F8F8F8;
$color-black-default: #000000;
$color-black-1: #1E1E1E;
$color-grey-1: #616161;
$color-grey-2: #666666;
$color-grey-3: #6B6B6B;
$color-grey-4: #8B8B8B;
$color-grey-5: #B4B4B4;
$color-grey-6: #C9C9C9;
$color-grey-7: #5F5F5F;
$color-grey-8: #ECECEC;
$color-grey-9: #BFBFBF;
$color-grey-10: #EBEAED;
$color-grey-11: #6C6C6C;
$color-grey-12: #6A6A6A;
$color-red: #ED202E;
$color-green: #39A927;
$color-blue: #3B7FB1;
//INPUTS HEIGHTS
$input-height-md: 45px;
$input-height-xl: 55px;
$input-icon-width: 50px;