//COLORS
$color-white: #FFFFFF;
$color-white-1: #FCFCFC;
$color-bg: #F8F8F8;
$color-black-default: #000000;
$color-black-1: #1E1E1E;
$color-black-2: #0D0D0D;
$color-grey-1: #616161;
$color-grey-2: #666666;
$color-grey-3: #6B6B6B;
$color-grey-4: #8B8B8B;
$color-grey-5: #B4B4B4;
$color-grey-6: #C9C9C9;
$color-grey-7: #5F5F5F;
$color-grey-8: #ECECEC;
$color-grey-9: #BFBFBF;
$color-grey-10: #EBEAED;
$color-grey-11: #6C6C6C;
$color-grey-12: #6A6A6A;
$color-grey-13: #848484;
$color-grey-14: #424242;
$color-grey-15: #CBCBCB;
$color-grey-16: #494949;
$color-grey-17: #A6A6A6;
$color-grey-18: #7E7E7E;
$color-grey-19: #E3E3E3;
$color-grey-20: #D3D3D3;
$color-grey-21: #7A7A7A;
$color-grey-22: #B7B7B7;
$color-grey-23: #2F2F2F;
$color-grey-24: #D9D9D9;
$color-grey-25: #818181;
$color-red: #ED202E;
$color-green: #39A927;
$color-light-blue: #DFEEFF;
$color-blue: #3B7FB1;
$color-pink: #FFEBEC;
//HEIGHTS
$input-height-md: 45px;
$input-height-xl: 55px;
$input-icon-width: 50px;
$navigation-bar-height: 64px;