.input-style-1 {
    label {
        font-size: 18px;
        color: $color-grey-1;
        font-weight: 700;
        margin-bottom: 3px;
    }
    input {
        height: $input-height-md;
        padding-#{$start-direction}: 12px;
        border: 1px solid $color-grey-1;
        border-radius: 10px;
        color: $color-grey-7;
        font-size: 14px;
        font-weight: 700;
        &:focus {
            box-shadow: none;
            border: 1px solid $color-grey-1;
        }
        &::placeholder {
            font-size: 16px;
            color: $color-grey-5;
            font-weight: 700;
        }
    }
    label.error {
        color: $color-red;
        font-size: 14px;
        font-weight: 400;
    }
    &.phone-dopdown {
        .inputs-container {
            display: flex;
            align-items: center;
            select {
                height: $input-height-md;
                flex: 0 0 15%;
                border: 1px solid $color-grey-1;
                border-#{$end-direction}: none;
                border-top-#{$end-direction}-radius: 0;
                border-bottom-#{$end-direction}-radius: 0;
                background: $color-grey-8;
                font-weight: 700;
                color: $color-grey-1;
                &:focus {
                    box-shadow: none;
                    border-color: $color-grey-1;
                }
            }
            input {
                border-top-#{$start-direction}-radius: 0;
                border-bottom-#{$start-direction}-radius: 0;
            }
        }
    }
}

@include media-breakpoint-xl {
    .input-style-1 {
        label {
            font-size: 25px;
        }
        input {
            height: $input-height-xl;
            font-size: 20px;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-#{$start-direction}: 16px;
            &::placeholder {
                font-size: 20px;
            }
        }
        &.phone-dopdown {
            .inputs-container {
                select {
                    height: $input-height-xl;
                }
            }
        }
    }
}