.btn-style-2 {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-grey-8;
    border-radius: 6px;
    svg {
        width: 21px;
        height: 21px;
        color: $color-grey-11;
    }
}